name: Test (Go)
on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Build&Test
    strategy:
      matrix:
        go: [1.23.x]
        os: [ubuntu-latest] #[macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Download Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go }} #'stable'
      - name: Get dependencies
        run: |
          go get -v -t -d ./...
      #- name: Build
      #  #env:
      #  #  GOPROXY: "https://proxy.golang.org"
      #  run: go build .
      - name: Run tests
        #env:
        #  GOPROXY: "https://proxy.golang.org"
        run: go test -v -race -coverpkg=./... -coverprofile=cover.out -covermode=atomic ./...
      - name: Upload coverage reports to Codecov
        if: success()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          fail_ci_if_error: true
  # benchmark:
  #   needs: test
  #   strategy:
  #     matrix:
  #       os: [ubuntu-latest]
  #       go-version: [1.20.x]
  #   name: Benchmark comparison ${{ matrix.os }} @ Go ${{ matrix.go-version }}
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - name: Checkout Code (previous)
  #       uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
  #       with:
  #         ref: ${{ github.base_ref }}
  #         path: previous
  #     - name: Checkout Code (new)
  #       uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
  #       with:
  #         path: new
  #     - name: Set up Go ${{ matrix.go-version }}
  #       uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
  #       with:
  #         go-version: ${{ matrix.go-version }}
  #     - name: Install benchstat
  #       run: go install golang.org/x/perf/cmd/benchstat@latest
  #     - name: Run Benchmark (previous)
  #       run: |
  #         cd previous
  #         go test -run=^$ -bench=. -count=10 . > benchmark.txt
  #     - name: Run Benchmark (new)
  #       run: |
  #         cd new
  #         go test -run=^$ -bench=. -count=10 . > benchmark.txt
  #     - name: Run benchstat
  #       run: |
  #         benchstat previous/benchmark.txt new/benchmark.txt