name: Release (GoReleaser)

on:
  workflow_call:

# Fix homebrew tap formula: failed to publish artifacts 403 Resource not accessible by integration
permissions:
  contents: write
  packages: write
  deployments: write
  id-token: write # needed for signing the images with GitHub OIDC Token **not production ready**
# GitHub-Action with correct permissions (id-token) calls a workflow via nektos/act and sets the GITHUB_TOKEN as secret.
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
# https://github.com/kedacore/keda/pull/2504/files

jobs:
  goreleaser:
    name: Prepare the binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.19]

    #https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-not-requiring-successful-dependent-jobs
    # if: ${{ always() }}
    #https://docs.github.com/en/actions/using-jobs/using-jobs-in-a-workflow#defining-prerequisite-jobs
    #needs: [test] # sequential

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      #- name: Set up Docker Buildx
      #  uses: docker/setup-buildx-action@v2
      #- uses: docker-practice/actions-setup-docker@master
      #  if: ${{ matrix.os == 'macos-latest' }}
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          #registry: ghcr.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      #- name: Build and push images to Docker Hub
      #  uses: docker/build-push-action@v3.1.1 #v3
      #  with:
      #    context: .
      #    platforms: linux/amd64,linux/arm64
      #    push: true
      #    tags: user/app:latest
      #- name: Set up Syft
      #  run: sudo apt-get install -y syft
      #  run: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      - uses: anchore/sbom-action/download-syft@0b82b0b1a22399a1c542d4d656f70cd903571b5c # v0.21.1
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        #if: startsWith(github.ref, 'refs/tags/')
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          # https://goreleaser.com/errors/resource-not-accessible-by-integration/
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
